@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
   --bcolor:#000;
   --ff:"Poppins", sans-serif;
   --bgColor:#fff;
   --textColor:#000;
   --textColorlight:0.5;
   --borderColor:#595959;
   --primaryColor:#FF204E;
   --primary2Color:#F0F0F0;
   --footerColor:#1a1a1a;
   --footertextColor:#808080;
   --mainfontweight:500;
   --lightBorder:rgba(25, 32, 32, 0.1);
}
.bg-pink{
    background:#FFC0D9;
    color:#000;
}
 
.bg-purple{
    background:#D0BFFF;
    color:#000;
}

.bg-green{
    background:#A3FFD6;
    color:#000;
}

.bg-yellow{
    background:#FFFAB7;
    color:#000;
}

.bg-lightgreen{
    background:#D9EDBF;
    color:#000;
}

.bg-skyblue{
    background:#67C6E3;
    color:#000;
}

.bg-orange{
    background:#F6995C;
    color:#000;
}

.bg-lightblack{
    background:#BFCFE7;
    color:#000;
}
 .ptb{
    padding:90px 0px;
 }
 .font-size-heading{
    font-size:40px;
    font-weight:var(--mainfontweight);
    margin-bottom:10px !important;
    color:#000;
    text-align: center;
    line-height:50px !important;
    text-transform: capitalize;
    max-width:850px;
    margin:auto;
 }

 .para-font{
    max-width:850px !important;
    margin: auto;
    text-align: center;
    margin-bottom:40px !important;
    font-size:16px;   
 }
 .para-font-hero{
    max-width:850px !important;   
    text-align: center;
    font-size:16px;
    margin-top:10px;
 }

h1,h2,h3,h4,h5,h6{
    margin-bottom:0px !important;
}
::selection {
    color:var(--bgColor);
    background:var(--primaryColor);
}

.form-control:focus{
    outline:none !important;
    box-shadow:none !important;
}

body{
    margin:0;
    padding:0; 
    font-family:var(--ff) !important;   
}

#navbar{
    background:var(--bgColor); 
    position: fixed;   
    z-index:1;
    width:100%;  
    border-bottom: 1px solid rgba(25, 32, 32, 0.1);   
    padding:5px 0px;
    top:0;
    z-index:999;
}
#navbar .navbar{
    padding:0px !important;
}

#navbar .navbar-brand{
    color:var(--textColor);
}
#navbar .navbar-brand img{    
    width:160px !important;  
    height:50px !important;
} 

#navbar .navbar-nav .nav-item .nav-link{
    color:var(--textColor); 
    opacity:var(--textColorlight); 
    text-transform: uppercase; 
    font-weight:400; 
}
#navbar .navbar-nav .nav-item {
    margin-top: auto;
}

.navbar .megamenu{ 
    padding: 1rem;
    background:var(--bgColor);
    padding:20px 0px ;
    position: relative;
    border-radius:0px 0px 30px 30px;
}


.dropdown-menu .title{
    height:55px;    
    border-radius: 10px;
    padding-left:10px;
    line-height:55px !important; 
    font-size:16px;
    font-weight:500;   
    color:#fff !important;
    background: var(--primaryColor) !important;
}

.dropdown-menu .title .bi{
    color:#000;
}

.overlay{
    content:"";
    position: absolute;
    width:100%;
    height:100vh;
    background: rgba(11, 14, 14, 0.5);
    backdrop-filter:blur(20px);
    top:60px;    
    display:none;   
}



.navbar .megamenu a{   
    color:var(--borderColor);
    font-size:17px !important; 
    line-height:55px !important;
    text-transform: capitalize;
    text-decoration:none !important;
}

.navbar .megamenu a i{   
    background:#fff;
    padding: 5px 9px !important;
    border-radius: 50px;
}
.navbar li:last-child{
    background:var(--primaryColor);
    border-radius:50px; 
}
#navbar .navbar .contact-us{
    padding:10px 20px;
    color:#fff !important;
    opacity:1 !important;
 }

 /*======================Hero Banner Css=========================*/

#hero-banner{ 
   width:100%;
   height:400px;
   background-image:url('../images/hero-banner.jpg');
   background-repeat: repeat;
   display: flex;
   background-size:cover;
   background-position: center center;
   align-items: center;   
   justify-content: center;
   flex-direction: column;    
   margin-top:calc(100px - 34px);
}

#hero-banner h1{  
    color:var(--textColor);
    line-height:60px;
    text-align: center;
    text-transform: capitalize;
}

#hero-banner .badge-cs{  
   background-color:#ff8099;
   padding:5px 20px;
   border-radius:10px;
   color:var(--bgColor);
   font-weight:600;
   border:2px solid var(--primaryColor);
}


#hero-banner button{
    width:250px;
    height:50px;
    border-radius:50px;
    margin-top:30px;
    gap:10;
}

#hero-banner button:nth-child(1){
    border:2px solid var(--primaryColor);
    background:transparent;
    color:#000; 
    transition: all 0.3s ease-in-out;
}

#hero-banner button:nth-child(1):hover{
    border:2px solid var(--primaryColor);
    background:var(--primaryColor);
    color:#fff; 
}

#hero-banner button:nth-child(2){
    border:2px solid var(--primaryColor);
    background:var(--primaryColor);
    color:#fff; 
    transition: all 0.3s ease-in-out;
}

#hero-banner button:nth-child(2):hover{
    border:2px solid var(--primaryColor);
    background:transparent;
    color:#fff; 
}

#hero-banner button:nth-child(2) a{ 
    color:#fff; 
    text-decoration:none;
}

#hero-banner button:nth-child(2):hover a{ 
    color:#000; 
    text-decoration:none;
}

/*======================logo Css=========================*/

#logos{
    background:var(--bcolor);
    border-top:1px solid var(--borderColor);
    border-bottom:1px solid var(--borderColor);
    position: relative;   
}

#logos .logo-top{
   display:flex;
   overflow: hidden;
   white-space: nowrap;
}

#logos .single-slide{
    display: flex;
    width:220px;
}
#logos .logo-inner:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#logos .logo-inner{  
    display: flex;
    animation-name: slide1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}

#logos .logo-inner .single-slide img{
   width:100%;
   height:100px;
   cursor: pointer;  
}

#logos::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0),var(--bcolor));
    height:100%;
    width:200px;  
    z-index: 1; 
}
#logos::after{
    content:"";
    position: absolute;
    top:0;
    right:0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0),var(--bcolor));
    height:100%;
    width:200px;
    z-index:1;
    
}
@keyframes slide1 {
	from{
		transform: translateX(0);
	}
	to{
		transform: translateX(-100%);
	}
}

/*======================What we Css=========================*/


#whatwedo{
    background:var(--bgColor);
}

#whatwedo a{
   text-decoration:none;
}

#whatwedo .card{
    background:var(--bgColor);
    color:#fff;
    position: relative;
    height:auto; 
    transition: all 1s ease-in-out;
}

#whatwedo .card .img .icon{
   background:var(--primaryColor) !important;
   color:#fff !important;
   padding: 4px 9px;
   border-radius:50px;
   font-weight:bold;
   position: absolute;
   bottom:15px;
   left:18px;
   
 }
 #whatwedo .card .img .icon .bi{
    font-size:20px;
 }
#whatwedo .card .card-body h5{
    font-size:19px ;
    text-transform: capitalize;    
    font-weight:500;
    color:#000;
}

#whatwedo .card .card-body p{
    font-size:12px ;
    text-transform: capitalize;    
    font-weight:400;
    margin:14px 0px;
    color:#000;
}
#whatwedo .card .card-body button{
    background: var(--primaryColor);
    color:#fff;
    border:none;
    height:40px;
    padding:0px 25px;
    font-size:13px;
    border-radius:50px;
}

#whatwedo .card img{
    width:100%;
    height:270px;
    object-fit:cover;
    border-radius:20px; 
}
#whatwedo .card .img{
   position: relative;  
   padding:7px; 
}

#whatwedo .card .img::before{    
    content:"";
    position:absolute;
    background-image:url('https://cdn2.birdeye.com/version2/v3/pages/2024/enterprise/edgedrop.svg');
    bottom:0;
    left:0;
    width:100px;
    height:100px;
    border-radius:0px 50px 0px 0px;
}

/* <div class="infomail">
<a href="mailto:info@socialit.in">info@socialit.in</a>
</div> */


/*======================Blog Css=========================*/

.blogs{
    max-height:300px !important;
    margin-top:calc(100px - 34px);
    padding:20px 0px;
}

#blog-area{
    background:var(--bgColor);
    border-top: 2px solid rgba(25, 32, 32, 0.1);
}

.blog-home a{
   margin-left:5px !important;
   margin-right:5px !important;
}

.blog-home h5{
    text-align: center;    
 }

#blog-area a{
   text-decoration:none;
}
#blog-area .card{
    border:none;    
    margin-bottom:20px;
    border-radius:20px;
    overflow: hidden;
}
#blog-area .card .card-body{
   background:#fff;
}
#blog-area .card img{
   border-radius:10px;   
}
#blog-area .title{
    font-size:25px;
}
#blog-area .card-footer{
    justify-content:space-between;
    align-items: center;
    padding:14px 7px;
    background:none;
}

#blog-area .card-footer .authorname{
    color:#000;
    font-weight:500;
    font-size:15px;
}

#blog-area .card-footer .category{
    color:var(--bgColor);
    font-weight:400;
    font-size:13px;
    background: var(--bcolor);
    padding:5px 10px;
    border-radius:50px;
}
#blog-area .loadmore{       
    border:none;
    background: var(--primaryColor);
    color:#fff;
    border-radius:50px;
    padding:10px 25px;
    margin-top:20px;
    font-size: 16px;
}

 .blog-home .blogs-prev ,.blog-home .blogs-next{
    background:var(--primaryColor);  
    width:50px !important;
    height:50px !important;
    border-radius:50px;
    border:none;
    color:#fff;
 }
 
 .blog-home .blogs-prev:hover ,.blog-home .blogs-next:hover{
     background:none;
     border:2px solid var(--primaryColor);
     color:#000;
 }

 .blog-home{
    border-top:0px !important;
    background:var(--primary2Color) !important;
 }
  

/*======================Career Css=========================*/

.career{
    max-height:300px !important;
    margin-top:calc(100px - 34px);
    padding:20px 0px !important; 
}
.career button{
    width:300px !important;
    height:50px !important;
}
#openingsjob{
    background:var(--bgColor);
    border-top:2px solid rgba(25, 32, 32, 0.1);
}
#openingsjob .card{
    border:2px solid var(--footertextColor);
    background:var(--primary2Color);
    border-radius:20px;
    background-image:url('../images/texture.png');
    margin-bottom:25px;
}
#openingsjob .card-header{
   border-bottom:none;
   background:transparent;
}
#openingsjob .card-footer{
    border-top:none;
    background:transparent;
 }
#openingsjob .jobtype{
    color:var(--footertextColor);
    font-weight:600;
}

#openingsjob .desgination{
    color:var(--bcolor);
    font-size:27px;
    font-weight:500;
}
#openingsjob .jobform ,#openingsjob .jobtime{
    color:var(--footertextColor);
    font-size:13px !important;
    margin-right:15px;
    font-weight:500;
}
#openingsjob .btngrp{
     text-align: center;
} 
#openingsjob .viewbtn{  
    background:transparent;
    border:2px solid var(--primaryColor);
    padding:15px 30px;
    color:#000;
    text-decoration:none;
    border-radius:50px;
}
#openingsjob .applybtn{  
    border:2px solid var(--primaryColor);
    background:var(--primaryColor);
    padding:15px 30px;
    color:#fff;
    text-decoration:none;
    border-radius:50px;
    margin-left:10px;
}
#joinform{
    background:#191919; 
    text-transform: capitalize;   
}
#joinform h2{
    color:#fff;
    font-weight:400;
    margin-bottom:30px !important;
}
#joinform form{
   background: #191919;
   border: 1px solid var(--footertextColor);
   padding-top:20px;
   padding-bottom:20px;
   padding-left:20px;
   padding-right:20px;
   border-radius:10px !important;
}
#joinform .form-control:focus{
    outline:none !important;
    box-shadow:none !important;
}
#joinform .form-control{
    height:50px !important;
    background:var(--borderColor);
    border:none;
    color:#fff;  
    font-size:13px;  
}

#joinform .form-control option{
    color:#fff;
}

#joinform .form-control::placeholder{
    color:#fff;
    font-size:13px;
}

#joinform .choosen{
    position: relative;
}

#joinform .choosen .badge{
    font-size:14px;
    background:var(--primaryColor);
    color:#fff;
}

#joinform input[type="file"] {
    opacity:0;
    position: absolute; 
    height: auto;   
}

#joinform .formupload{   
    width:100%;   
    border:1px solid var(--bcolor);
    text-align: center;
    height: auto;
    background:var(--borderColor);
    border-radius:10px;
    padding:10px 0px;
}
#joinform .formupload .bi-cloud-arrow-up{   
    font-size:30px;
    cursor: pointer;
}

#joinform button{
    width: 100%;
    height: 50px;
    background:var(--primaryColor);
    color:#fff;
    border:none;
    border-radius:50px;
    margin-top:30px;
}

/*======================Work Css=========================*/
.work{
    max-height:300px !important;
    margin-top:calc(100px - 34px);
    padding:20px 0px !important; 
    position: relative;
}

#allwork{
    background:var(--bgColor);
    border-top:2px solid rgba(25, 32, 32, 0.1);
 }

 #allwork .form-control{
    background: var(--borderColor);
    border:2px solid var(--footertextColor);
    color:#fff;
 }

 #allwork p{
    margin-bottom:50px !important;
    color:var(--footertextColor);
    text-align: center;
    font-size:15px;
    margin-top:10px;
 }
 #allwork .card{    
    border-radius:0px;
    position: relative;  
    background:transparent;
    margin-bottom:20px;  
    overflow:hidden;
    border:none;
 }
 #allwork .card img{
    border:none;
 }
 #allwork .card .readmore{
    content:"";
    position:absolute;
    bottom:30px;
    left:20px;
    background:#fff !important;
    padding:15px 17px;
    border-radius:50px;
 }

 #allwork .card .readmore img{
   width:20px !important;
 }

 .work .imgwork{
    position: absolute;
    right:20px;
    bottom:0;    
 }
 
 .work .imgwork img{
    width:150px;
    object-fit: contain;  
 }

 #singlework{
    background:var(--bgColor);
    border-top:1px solid var(--lightBorder);
    border-bottom:1px solid var(--lightBorder);
 } 

 #singlework h2{
    text-transform: capitalize;
    font-size:30px;    
 } 

 #singlework p{
    text-transform: capitalize;
    line-height:31px;
    font-size: 15px; 
 } 

 


/*======================Model Css=========================*/

 #watchdemo .form-control{
     height:35px;
     border:2px solid #ccc;
     font-size:12px;
 }

 #watchdemo h5{
    font-size:21px !important;
    color:#000;
    font-weight: 600;
    text-transform: capitalize;
 }
 #watchdemo textarea{
    height:60px !important;
 }
 
 #watchdemo .form-control::placeholder{
    font-size:12px;
    color:#000 !important;
    text-transform: capitalize;
 } 

 #watchdemo .demobtn{
    width:100%;
    height:40px;
    background:var(--primaryColor);
    border-radius:50px;
    border:none;
    color:#fff;
    font-size:13px;
 }

 #watchdemo .modal{ 
    --bs-modal-width: 420px !important;
 }

 #watchdemo .modal-dialog {
    max-width:420px !important;
 }
 #watchdemo .btnclose{
    padding: 5px 9px;
    opacity:0.6;
    border:none;
    border-radius:50px;
    background:var(--primaryColor);
    color:#fff;
    margin: calc(-.5* var(--bs-modal-header-padding-y)) calc(-.5* var(--bs-modal-header-padding-x)) calc(-.5* var(--bs-modal-header-padding-y)) auto;
 }

 #watchdemo .btnclose:hover{
    opacity:1;  
 }

/*======================CTA Css=========================*/
 #cta{
    background:var(--primary2Color) !important; 
 }

 #cta h6{
    color:#000;
    font-size:22px;
    text-transform: capitalize;
    margin-bottom:15px !important;
 }

 #cta p{
    color:var(--footertextColor);
    font-size:15px;
    text-transform: capitalize;
 }

 #cta a{
    text-transform: capitalize;
    background: var(--primaryColor);
    padding:15px 50px;
    border:none;
    border-radius:50px;
    color:#fff;
    text-decoration:none;
 }

/*======================customer-review css=========================*/

 #customer-review{
    background: var(--bgColor);    
 }

 #customer-review h5{
    text-align: center;
 }

 #customer-review h6{
    color:#000;
    font-size:20px;
    margin-left:20px !important;   
    text-transform: capitalize;
    font-weight:600;   
    margin-bottom:5px;
 }
 #customer-review .company{
    font-size:15px;
    margin-left:20px !important;   
    text-transform: capitalize;
    font-weight:500;
    color:var(--footertextColor);
 }

 #customer-review .card{
    margin-right:5px;
    margin-left:5px;
    border:none;
    margin-bottom: 20px;
    background:var(--primary2Color);
    border-radius:20px;
  }

 #customer-review .card-title{
   padding:10px 15px;
   font-size:15px;
   line-height: 30px;  
   margin-bottom:0px;
 }

 #customer-review .card img{
    width:50px;
    height:50px;
    border-radius:50px;
    display: inline-block;
 }

 #customer-review .card-header{    
    border-bottom:0px;
    background:transparent;
 }
 #customer-review .card-header .bi-star-fill{
    color:#FBC634;
 }

 #customer-review .card-footer .customer-info{
   display:flex;
   padding: 8px 0px;
 }

 #customer-review .card-footer{
    border-top:0px;
  }

 #customer-review .reviews-prev , #customer-review .reviews-next{
    background:var(--primaryColor);  
    width:50px !important;
    height:50px !important;
    border-radius:50px;
    border:none;
    color:#fff;
 }
 
 #customer-review .reviews-prev:hover , #customer-review .reviews-next:hover{
     background:none;
     border:2px solid var(--primaryColor);
     color:#000;
 }


 /*======================record css=========================*/
 
 #record{
    background:var(--primary2Color);    
 }

 #record .card{
    padding:25px 0px;
 }  

 #record h5{
    color:#000;
    font-size:40px;
    font-weight:500;
 }
 #record p{
    color:#000; 
    font-size:20px;
    text-transform: capitalize;
    margin-bottom:0px !important;
    font-weight:500;
 }  



 /*======================reacord css=========================*/
 #platform{
    background: var(--primary2Color);    
    position: relative;
    overflow: hidden;
    z-index:2;
 } 
 #platform h3{
     text-align: center;
 } 

  #platform .inline-icon img{
    background:var(--bcolor); 
    padding:17px;
    border-radius:50px; 
    width:65px;
    height: auto;
 }

 #platform .platform-icons{
    content: "";
    position: absolute;
    left:30px;
    top:0;
    z-index:-1;
 }
 #platform a{
    text-transform: capitalize;
    background: var(--primaryColor);
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
 }

 #platform .platform-icons .slick-list{
    height: auto !important;
 }
  
 /*======================Our Recent Works=========================*/

 #recentworks{ 
    background: var(--bgColor);
 }

 #recentworks h3{
    color:#000;
    text-align: center;  
 }

 #recentworks .card{
    overflow: hidden;
    border-radius:20px;
 }


 #recentworks .card img{
    width:100%;
    height:auto;
    object-fit:cover;    
 }

 #recentworks .work-slide .card{
    margin-left:5px;
    margin-right:5px;
 }

 #recentworks .viewbtn{
    padding:10px 25px;
    border:2px solid var(--primaryColor);
    border-radius:50px !important;
    transition: all 0.3s ease-in-out;
    background:var(--primaryColor);  
 }

 #recentworks .viewbtn:hover{
    background:var(--primaryColor);  
 }


 #recentworks .viewbtn-top a{
    color:#fff;
    text-decoration:none;
 }

 #recentworks .viewbtn-top{
    margin-top:40px;
  }

/*======================faq Css=========================*/
  #faq{
    background: var(--bgColor);  
  }

  #faq h6{   
    text-align: center;
  }

  #faq .accordion-button{
    background: var(--primary2Color);
    border:2px solid var(--footertextColor);
    color:var(--bcolor);   
  }

  #faq .accordion-button:focus{
      box-shadow:none !important;
  }
  #faq .accordion-button:not(.collapsed) {
    background:var(--primaryColor);
    color:#fff;
    border:2px solid #fff;
    border-radius:0px !important;
 }

 #faq .accordion-body{
    border:2px solid #fff;
 }

 #faq .accordion-item{
    margin-bottom:20px !important;
 }

 #faq .accordion{
      border-color: transparent !important;
      --bs-accordion-border-color:none !important;
 }

 #faq .accordion-button:not(.collapsed)::after {
    background-image: url('../images/plus.svg') !important;
    transform: rotate(45deg) !important;
    
 }

 #faq .accordion-button::after {
    background-image: url('../images/plus.svg') !important;
    background-color:var(--primaryColor);
    border-radius:50px;
    width:27px;
    height:27px;
    background-position:center center;
 }
 #faq .accordion-header{
    background: var(--bgColor) !important;
 }
 



/*======================contact Css=========================*/

.contact{
    height:250px !important;
    margin-top:calc(100px - 34px);
    padding:20px 0px !important; 
    border-bottom:2px solid var(--borderColor);
   
}

#contactform{
    background:var(--bcolor);  
    position: relative;
}

#contactform form{
    background:#191919;
    padding:30px 10px;    
    border:1px solid var(--footertextColor);
    border-radius:20px;
}

#contactform form .form-control{
    height:50px;   
    border:none;
    background:var(--borderColor);
    color:#fff;
    font-size:13px;
}

#contactform form .form-control::placeholder{
    color:#fff;
    font-size:13px;
}

#contactform form textarea{
    height:80px !important;
}

#contactform form h2{
    color:#fff; 
    font-size:32px;  
    padding:20px 5px;
}

#contactform h6{
    margin-left:10px;
    color:#fff;
    line-height: 33px;
    margin-bottom:20px;
}

#contactform a{
    color:#fff;
    margin-left:10px;
    line-height:30px;
    text-decoration:none;    
}

.infomail{
    background: linear-gradient(360deg, hsla(296, 59%, 85%, 1) 0%, hsla(234, 88%, 93%, 1) 100%);
    height:100px;  
    text-align: center;
    border-radius:20px;
}
.infomail a{
    color:#000;
    font-size:40px;
    line-height:95px;
    font-weight:600;
    text-decoration:none;
    
}

#contactform button{
  margin-top:30px;
  height:50px;
  background: var(--primaryColor);
  color:#fff;
  border:none;
  border-radius:50px;
  width:95%;
  margin-left:2.5%;
}

#contactform .marquee h4{
    font-size:50px;
    color:transparent;
    font-weight:700;
    -webkit-text-stroke:1px #fff;
    text-transform: uppercase;
    margin-right:20px;   
    cursor: pointer;  
    letter-spacing:2px;
}

.marquee{
    display: flex;
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;  
}

.marquee .slide{
    display: flex;
    animation-name:slide;
    animation-duration:10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide{
     0%{
        transform: translateX(0%);
     }
     100%{
        transform: translateX(-100%);
     }
}
.marquee .left{
    content:"";
    position:absolute;
    left:0;
    width:10%;
    height:100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 35%, rgba(0,212,255,0) 100%);
    z-index:1;
}

.marquee .right{
    content:"";
    position:absolute;
    right:0;
    width:10%;
    height:100%;
    background: linear-gradient(270deg, rgba(0,0,0,1) 35%, rgba(0,212,255,0) 100%);
    z-index:1;
}
 #contactform .call-img{
    content:"";
    position: absolute;
    right:125px;
    top:0; 
 }

 #contactform .call-img img{
    height:200px;
 }

/*======================footer Css=========================*/

footer{
    background:var(--bcolor);
    border-top:2px solid var(--borderColor) ;
    padding:30px 0px;
}

footer h4{
    color:#fff;
    font-size:19px;
    font-weight:400;
}

footer ul{
   list-style:none;
   padding:0px;
}
footer ul li{
    padding:6px 0px;   
}
footer ul li a{
    color:var(--footertextColor);
    text-decoration:none;  
    text-transform: capitalize; 
    font-size:15px;
}

#copyright{
    background:var(--bcolor);
    border-top:1px solid var(--borderColor);
    padding:20px 0px;
    color:#fff;
    font-size:14px;
}

#copyright .socialmedia{
 text-align: end;   
}

#copyright .socialmedia a{
    color:#fff;
    font-size:14px;
    text-decoration:none;  
    border-right:1px solid var(--borderColor);  
    padding-right:10px;
    padding-left:10px;
}

#copyright .socialmedia a:last-child{ 
    border-right:0px solid var(--borderColor);   
}


/*======================Service Inner Pages Css=========================*/

#service-inner-page{
    background:var(--primary2Color);
}
#service-inner-page .card{
    margin-bottom:20px;
    border-radius:20px;
}
#service-inner-page .card-title{
    font-size:27px;
    text-transform:capitalize;
    font-weight:500;
}
#service-inner-page .card p{
    color:#000;
    opacity:0.8;
    font-size:16px;
    font-weight:300;
}


/*======================Media Query=========================*/

@media(max-width:575px){ 
    .ptb{padding:35px 0px !important;}
    .font-size-heading{ font-size:26px !important; line-height:35px !important;} 
    #hero-banner h1{line-height:50px;}
    #logos::after{ width:100px;}
    #logos::before{ width:100px;}
    #copyright .socialmedia{text-align:center;}
    #copyright .socialmedia a{font-size:13px !important;}
    #copyright .container{text-align: center;}
    #copyright .container .copy{margin-top:10px;}
    #copyright .container .ordercus-1{order:-1 !important;}
    #openingsjob .applybtn , #openingsjob .viewbtn { padding:8px 15px; font-size:13px;}
    #openingsjob .btngrp{ text-align: start; margin-top:20px;}  
    #contactform .col-md-6:last-child{margin-top:25px;}
    .work .imgwork img{width:100px;}
    #hero-banner button{ width:150px; font-size:12px; height:40px;}
    #joinform form {padding-left:10px;padding-right: 10px;}
    .mobile{display:none !important;}
    .navbar .megamenu{border-bottom:0px solid #000;}
    #whatwedo .card .card-body h5{font-size:20px; font-weight:600;}
    .marquee .left,.marquee .right{width:20%;}
    #contactform .call-img{right:20px;top:0;}    
    #contactform .call-img img{ height:125px;}
    #logos .single-slide img{width:auto;} 
    #blog-area .slick-prev:before, .slick-next:before, .slick-prev:before{line-height:0;}
    #reacord p{ font-size:14px !important; margin-bottom:20px !important;}
    #cta p{ margin-bottom:40px !important;}
    #platform .inline-icon{margin-bottom:10px;}
    #openingsjob .desgination { font-size: 22px ;}
    .navbar .megamenu{border:none;}
    .nav-item{ border-bottom: 1px solid #c9c9c9; margin-bottom:10px;}
    #record .card{margin-bottom:10px;}
    #record h5{ font-size:20px;} 
    #record p { font-size:17px;}
    .para-font{font-size:13px;}
    #singlework h2 { font-size:25px;}
    .para-font-hero{ font-size:13px; max-width:500px !important;} 
}

@media screen and (min-width:576px) and (max-width:767px){
    .ptb{padding:45px 0px;}
    .font-size-heading{line-height:35px !important; line-height:35px !important;}   
    .para-font-hero{ font-size:13px; max-width:500px;} 
}
@media screen and (min-width:768px) and (max-width:991px){
    .ptb{padding:55px 0px;}
    .font-size-heading{ font-size:28px !important; line-height:40px !important;}
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
@media screen and (min-width:992px) and (max-width:1199px){
    .ptb{padding:55px 0px;}
    .font-size-heading{ font-size:30px !important; line-height:40px !important;}
}

@media screen and (min-width:1200px) and (max-width:1599px){
    .ptb{padding:70px 0px;}
    .font-size-heading{ font-size:36px; line-height:45px !important;}
}

@media all and (min-width: 992px) {	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;}	
}	

@media only screen and (min-width: 1500px) {
    .res-container {
      max-width: 1470px;
    }
  }
  @media only screen and (max-width: 991px) {
    .res-container {
      width: 100%;
    }
  }
  